#pagetitle {
  text-align: center;
}

#image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
}

#firstheader {
  text-align: center;
}

#test {
  border: 1px solid black;
  background-color: white;
  font-family: 'Times New Roman', serif;
  font-size: 110%;
  margin-left: 100px;
  margin-right: 100px;
}

body {
  background-position: right top;
  background-color: #ceeeea;
  background-image: url("gear background.jpg");
}

#accomplishments {
  border: 1px solid black;
  border-collapse: collapse;
  margin-left: 125px;
  margin-right: 125px;
  font-size: 125%;
  background-color: white;
}

#secondheader {
  text-align: center;
}
